.div_only{
	width:1000px;

}
.div_one{
	width:700px;
	float:left;
	margin-bottom:20px;
}
.div_two{
	width:280px;
	float:left;
	margin-left:16px;
}
.shouye{
	width:1000px;
	height:40px;
	padding-left:43px;
	text-align: left;
	padding-top:15px;
}
.left_span1{
	display: block;
	width:700px;
	font-size: 16px;
	height:45px;
	line-height: 45px;
	text-align: center;
	border-bottom: 1px solid #c9baa5;

}
.left_span2{
	display:block;
	text-align: center;
	font-weight: normal;
	color:#757575;
	margin:10px;

}
.lef_one{
	width:700px;
	line-height:28px;
	padding:10px;
	font-size: 14px;
	border-bottom:1px solid #c9baa5;
}
.left_img{
	padding:20px;
}
.left_p{
		text-indent:2em;
		text-align: left;
}
.left_three{
	height:40px;
	line-height: 40px;
	margin-top:10px;
	font-size: 13px;
}
.left_a{
	margin-right:40px;
	color:#844004;
	font-size:13px;
}
.right_one{
	border:1px solid #c9baa5;
	background-image: url(../images1/bg.png);
	margin-bottom: 20px;
	height:210px;
}
.right_first{
	margin-bottom: 10px;
	text-align: center;
	margin:7px;
}
.right_ul{
	margin:0px 0px;
	padding-left:0px;
}
.right_li{
	line-height: 30px;
	margin-left: 13px;
	text-align: left;
}
.right_two{
	width:280px;
	margin-top: 20px;
	margin-bottom: 20px;

}
.right_second{
	margin-top: 25px;
	margin-bottom: 15px;
	text-align: center;
}
.pic_one1{
	background-image: url(../images1/show_bg.png);
	height:362px;
}
.right_third{
	margin-top: 25px;
}
.jieshao{
	color:#b70000;
	font-weight: bold;
}
.passage{
	width:224px;
	line-height: 20px;
	margin-left:24px;
	text-align: left;
}
.more{
	width:224px;
}
.jiantou1{
	display:block; 
	float:left;
}
.jiantou2{
	display:block; 
	float:left;
	position: relative;
	top:4px;
	left:5px;
}