#content{
	margin-top:20px;
	width:1000px;
	clear:both;
	height:700px;
}
#content_top{
	width:1000px;
	overflow:hidden;
	height:243px; 
}
#content_bottom_left{
	width:715px;
	float:left;
	height:400px;
}
#content_bottom_right{
	width:280px;
	margin-top:20px;
	float:right;
	height:380;
}
.news_pic{
	background-image:url(../images/news_bg.png);
	width:324px;
	height:243px;
	float:left;
}
.news_pic_one{
	width:300px;
	height:200px;
	position:relative;
	top:10px;
}
.news_pic_two{
	width:300px;
	height:20px;
	position:relative;
	top:18px;
} 
.news_list{
	width:330px;
	height:243px;
	margin-left:38px;
	float:left;
}
.news_list_one{
	width:250px;
	height:30px;
	background-image:url(../images/change.png);
	background-repeat:no-repeat;
	margin:0px 0px;
	float:left;
}
.news_list_more{
	display:block;
	float:right;
}

.news_list_two{
	clear:both;
	text-align:left;
	padding-left:0px;
	margin-top:30px;
	margin-left:0px;
	margin-right:0px;
}
.news_list_date{
	display:block;
	float:right;
}
.news_list_ul{
	padding-left:0px;
	margin-top:50px;
	margin-bottom: 0px;
}
.news_list_li{
	list-style-type:disc;
	height:30px;
}

.news_announce{
	width:277px;
	height:235px;
	margin-top:8px;
	float:right; 
}
.news_announce_one{
	width:227px;
	height:30px;
}
.news_announce_two{
	width:280px;
	height:210px;
	background-image:url(../images/board_bg.png);
}
.news_announce_two_ul{
	padding-top:10px;
	padding-left:20px;
	margin:0px 0px 0px 0px;
}
.news_announce_two_li{
	list-style-type:disc;
	height:30px;
	text-align:left;
}
.xueshu{
	width:340px;
	height:200px;
	margin:0px 0px;
	float:left;
}
.xueshu_one{
	width:340px;
	height:54px;
	background-image:url(../images/academic.png);
}
.xueshu_span{
	display:block;
	float:right;
}
.xueshu_span2{
	display:block;
	float:right;
}
.xueshu_two{
	width:340px;
	height:146px;
	text-align: left;
}
.xueshu_ul{
	margin:0px 0px;
	padding:0px;
}
.xueshu_li{
	width:340px;
	height:30px;
	list-style-type: disc;
}
.book_news{
	width:340px;
	margin-left:25px;
	float:left;
	height:200px;
}
.book_news_one{
	width:340px;
	height:54px;
	background-image: url(../images/book_news.png);
}
.book_news_two{
	width:340px;
	height:146px;
	text-align: left;
}
.book_news_two_ul{
	margin:0px 0px;
	padding:0px;
}
.book_news_two_li{
	width:340px;
	height:30px;
	list-style-type: disc;
}
.fengcai{
	width:700px;
	height:234px;
	clear:both;
}
.fengcai_one{
	width:700px;
	height:54px;
	background-image: url(../images/fengcai_bg1.png);
	background-repeat:no-repeat;
}
.fengcai_two{
	width:700px;
	height:180px;
	background-image: url(../images/fengcai_bg2.png);
	background-repeat: no-repeat;
}
.fengcai_ul{
	height:200px;
	width:700px;
	margin:0px 0px;
}
.fengcai_li{
	height:136px;
	float:left;
	margin-top:15px;
}
.zhanting_one{
	width:280px;
	height:23px;
}
.zhanting_two{
	width:280px;
	height:362px;
	margin-top:10px;
	background-image:url(../images/show_bg.png);	
	background-repeat: no-repeat;
}
.zhan_one{
	height:200px;
	width:220px;
	padding-top:20px;

}
.zhan_two{
	height:110px;
	width:220px;
	text-align:left;
	line-height:20px;
}
.zhan_three{
	color:red;
}
.zhan_four{
	height:20px;
	width:40px;
	margin-left:220px;
}

