.only{
	width:1000px;
	height:700px;
}
.span_one{
	width:1000px;
	display:block;
	float:left;
	margin:20px 0px 10px 10px;
	text-align: left;
}
.div_one{
	clear:both;
	width:190px;
	height:590px;
	margin-right:20px;
	float:left;
}
.div_two{
	margin-top:10px;
	width:790px;
	height:590px;
	float:right;
}
.span_two{
	display:block;
	width:950px;
	float:right;
	font-size: 15px;
}
.div_one_one{
	width:190px;
	height:240px;
	margin:10px 0px 10px 0px;
	background-image: url(../images/bg.png);
	text-align: center;

}

.div_one_ul{
	margin:0px 0px;
	padding-left:0px;
}

.div_one_li{
	margin:15px 0px 15px 0px;
	width:190px;
	height:15px;
}
#div_one_l_li{
		background-image: url(../images1/menubg.gif);
		background-repeat: no-repeat;
		height:16px;
		width:150px;
		position: relative;
		left:41px;
}
.div_one_two{
	width:190px;
	height:190px;
	background-image: url(../images/bg.png);
	margin:10px 0px 10px 0px;
}
.div_one_a:link{
	color:gray;
}
.div_one_span{
	display:block;
	padding-top:3px;
	width:120px;
	height:15px;
	color:red;
	float:right;
	text-align: left;
}
.div_one_two_one{
	height:40px;
	width:190px;
	padding-top:10px;
}
.div_one_two_two{
	height:140px;
	width:190px;
}
.div_one_three{
	width:190px;
	height:100px;
}
.div_one_three_pic{
	width:190px;
	height:100px;
}
.div_two_one{
	height:40px;
	width:760px;
	background-image: url(../images/listtitle.png);
	background-repeat: no-repeat;
}
.div_two_one_h1{
	color:red;
	margin:0px 0px;
	text-align: left;
	position:relative;
	top:6px;
	left:50px;
}
.div_two_two{
	width:750px;
	height:500px;
	text-align: left;
	margin-top:10px;
}
.div_two_one_ul{
	width:750px;
	margin:0px 0px;
	padding-left:10px;
}
.div_two_one_span{
	display:block;
	float:right;
}

.div_two_one_li{
	height:35px;
	width:750px;
	list-style-type:disc;
}
.span_a{
	border:1px solid gray;
	padding:5px 7px;
}

