body{
	background-image:url(../images/bodybg.gif);
	background-repeat: repeat-x;
	font-size:12px;
	color:#522a06;
	font-weight:bold;
	font-family:'宋体';
	text-align:center;
}
div{
	margin:0px auto;
	padding:0px;
	border:0px;
}
img{
	border:0px;
}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#522a06;
}
a:link{
	color:#522a06;
}
}
a:hover{
	text-decoration:underline;
}
#header{
	height:205px;
	background-image:url(../images/bg.gif);
	background-position:center top;
}
#banner{
	height: 164px;
	width:1000px;
	background-position:center;
}
#logo{
	display: block;
	position: absolute;
	top:38px;
	left:150px;
}
#nav{
	background-image:url(../images/nav.jpg);
	height:40px;
}
.nav_content{
	width:800px;
	height:40px;
	float:left;
	margin:0px 0px 0px 80px;
}
.one_one{
	display:block;
	color:#fff;
	font-weight:bold;
	margin-right:11px;
	margin-bottom:20px
}
.one_one:link{
	color:#fff;
}
.one_one:hover{
	text-decoration:none;
	color:#f9f603;

}
#one_two{
	float:left;
	
}
#first{
	color:#f9f603;
}
.nav_search{
	float:left;
	width:200px;
	height:40px;
	padding-left:55px;
}
#two_one{
	width:140px;
	height:19px;
	background-color:#f8f5ee;
	float:left;
	margin-top:7px;
}
#two_two{
	width:44px;
	height:21px;
	background-color:#000;
	color:#fff;
	border:1px solid #f8f5ee;
	margin-top:9px;
	float:left;
}
.bottom{
	height:105px;
	clear:both;
	background-image:url(../images/foot.gif);
}
.bottom_one{
	height:20px;
	margin-left:330px;
}
.bottom_li{
	float:left;
	margin-right:18px;
}
.bottom_wight{
	font-weight:bold;
}